:host {
  display: block;
  height: 100%;
}

ion-list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  padding: 0;

  ion-item {
    flex-shrink: 0;
  }

  .search-item {
    position: sticky;
    bottom: 0;
    margin-top: auto;
    z-index: 1;
    order: 0;
  }
}
